header {
  background: url("../../../images/bg_header.jpg") no-repeat center/cover;
  height: 300px;
  &::before {
    display: block;
    height: 10px;
    content: '';
    background-color: $main_color;
  }
}