.notiffied {
  height: 430px;
  background-color: $second_color;
  display: flex;
  .content{
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    aside {
      width: 50%;
      h2{
        font-size: 2.2rem;
        color: #000000;
        font-weight: 700;
        padding: 55px 0 25px 0;
      }
      p{
        margin-right: 40px;
        font-size: 1.6rem;
        color: #848484;
        font-weight: 300;
        margin-bottom: 35px;
      }
      input {
        width: 300px;
        border-radius: 10px 0 0 10px;
        height: 56px;
        border: 1px;

      }
      ::-webkit-input-placeholder {
        font-size: 1.6rem;
        padding-left: 10px;
        opacity: 0.5;
      }
      a {
        cursor:pointer;
        text-decoration: none;
        background-color: $main_color;
        padding-top: 17px;
        padding-bottom: 21px;
        font-size: 1.6rem;
        color: #ffffff;
        line-height: 16px;
        width: 135px;
        display: inline-block;
        text-align: center;
        border-radius: 0 10px 10px 0;
      }
    }
    .video {
      width: 50%;
      display: flex;
      justify-content: center;
      div {
        margin: 55px 0 25px 0;
        background: url("../../../images/video.png")  no-repeat center/cover;
        width: 100%;
        height: 300px;
        border-radius: 5px;
      }
    }
  };
}