@import "../../../style/scss/modules/all";
@import "../../../style/scss/vendor/grid";

 header {
  background: url("./img/bg_header.jpg") no-repeat center/cover;
  height: 600px;

   &::before {
     display: block;
     height: 10px;
     content: '';
     background-color: $main_color;
   }
   .box {
    margin: 200px 0;
       h1 {
         font-family: 'Pacifico', cursive;
         font-style: italic;
         font-size: 6rem;
         font-weight: 500;
         color: #ffffff;
         margin-bottom: 20px;
       }
       p {
         width: 500px;
         color: #ffffff;
         font-size: 2.4rem;
         margin-bottom: 20px;
       }
       .social {
         display: flex;
         .social-circle {
             cursor:pointer;
             opacity: 0.7;
             width: 50px;
             height: 50px;
             border-radius: 50%;
             background-color: #36241A;
             margin-right: 17px;
             z-index: 1;
             transition: 0.7s;
             display: flex;
             align-items: center;
             justify-content: center;
                a {
                    text-decoration: none;
                  i {
                      font-size: 2.5rem;
                      color: #ffffff;
                    }
                }
             &:hover {
               background-color: $main_color;
             }
         }
       }
   }
}
